<section class='container-fluid white'>
  <p class='shout'>WE MAKE PLAYING</p> 
  <p class='shout shout-large'>PODCASTS</p>
  <p class='shout'>SIMPLE FOR EVERYONE</p>
</section>

<section class='container-fluid blue'>
  <div class="row">
    <div class="col-md-4">
      <h2>
        <%= image_tag 'appbar.refresh.svg', class: 'feature-icon', alt: 'refresh icon' %>
        Always up to date
      </h2>
      <p>With PlayerPod, all your podcasts are in one place. You'll never have to download, sync or manage your podcasts again. We keep track of all your subscriptions and update them every day!</p>
    </div>
    <div class="col-md-4">
      <h2>
        <%= image_tag 'appbar.iphone.svg', class: 'feature-icon', alt: 'iphone icon' %>
        Play from any device
      </h2>
      <p>Our intuitive cloud based interface works on every device with a browser! No need to install extra software or pay for an app! Just sign in and start playing.
    </div>
    <div class="col-md-4">
      <h2>
        <%= image_tag 'appbar.email.hardedge.svg', class: 'feature-icon', alt: 'email icon' %>
        New episode emails
      </h2>
      <p>You'll never miss another podcast. PlayerPod will email you everytime a new episode is published. No need to check your feeds again.</p>
    </div>
  </div>
</section>

<section class='red-orange'>
</section>




