<section class='white'>
  <div class='center-col'>
    <h1>Add a New Subscription</h1>
    <div class="form-group">
      <%= form_tag subscriptions_path, method: :post do %>
        <%= label_tag(:feed_url, "Enter the feed URL:") %>
        <%= text_field_tag :feed_url, "", class: "form-control" %>
        <br>
        <%= submit_tag "Add!", class: "btn btn-success" %>
      <% end %> 
    </div>
  </div>
</section>