/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//------------------------------------------------------------------------------
// Bootstrap
//------------------------------------------------------------------------------
@import 'bootstrap-sprockets';
@import 'bootstrap';

//------------------------------------------------------------------------------
// Color Pallette 
//------------------------------------------------------------------------------
$dark-grey: #222222;
$light-blue: #d1f5fc;
$red-orange: #e8330f;

//------------------------------------------------------------------------------
// External Fonts
//------------------------------------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);

//------------------------------------------------------------------------------u
// Main Layout Styles
//------------------------------------------------------------------------------
body {
  font-family: 'Lato', sans-serif;
  background-color: $dark-grey;
}

body > div {
  padding: 0 !important;
}

.content-wrapper {
  background-color: white;
}

section.white  {
  background-color: white;
  padding: 15px;
}

section.blue  {
  background-color: $light-blue;
  padding-bottom: 25px;

  h2 {
    color: $red-orange;
    font-weight: 900;
  }
}

section.red-orange {
  background-color: $red-orange;
  height: 50px;
}

footer {
  background-color: $dark-grey;
  color: white;
  padding: 15px;
}

.flash {
  margin: 0;
  border-radius: 0;
}

.center-col {
  max-width: 800px;
  margin: auto;
}

h1 .btn {
  margin: 0 0 5px 0;
}

//------------------------------------------------------------------------------
// Navbar Styles
//------------------------------------------------------------------------------
.navbar {
  border-radius: 0;
}

.navbar.navbar-inverse {
  margin-bottom: 0;
}

.nav-logo {
  height: 30px;
  margin-right: 5px;
  width: 30px;
}

.navbar-brand {
  margin-top: -5px;
}

.nav-link-btn, 
.nav-link-btn:visited, 
.nav-link-btn:active, 
.nav-link-btn:link, 
.nav-link-btn:hover
{
  text-decoration: none;
  color: white;
}
  
.navbar-collapse {
  overflow-x: hidden;
  padding-left: 25px;
}

//------------------------------------------------------------------------------
// Shout message
//------------------------------------------------------------------------------
.shout {
  font-weight: 900;
  font-size: 5vw;
  text-align: center;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  
  .large {
    color: $red-orange;
    font-size: 10vw;
  }
}

//------------------------------------------------------------------------------
// Icons
//------------------------------------------------------------------------------
.feature-icon {
  display: inline;
  height: 1.5em;
}



